# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info/
dist/
build/

# All data staging files
scratchpad

# pgtapme generated tests, for now!
# pg_prove/pgtapme_generated_files
