<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <button onclick="window.location.href='/add_user'">Add User</button>
    <button onclick="window.location.href='/remove_user'">Remove User</button>
    <button onclick="window.location.href='/change_password'">Change User Password</button>
    <button onclick="window.location.href='/logout'">Logout</button>
</body>

</html>