<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Dashboard</title>
</head>

<body>
    <h1>Manager Dashboard</h1>
    <button onclick="window.location.href='/promote_user'">Promote User</button>
    <button onclick="window.location.href='/demote_user'">Demote User</button>
    <button onclick="window.location.href='/add_user'">Add User</button>
    <button onclick="window.location.href='/remove_user'">Remove User</button>
    <button onclick="window.location.href='/change_password'">Change User Password</button>

    <button onclick="window.location.href='/scan_qr'">Scan QR Code for Rental</button>
    <button onclick="window.location.href='/consolidate_sales'">Consolidate Sales</button>

    <button onclick="window.location.href='/scan_qr_stock'">Scan QR Code for Stock</button>
    <button onclick="window.location.href='/consolidate_stock'">Consolidate Stock</button>
</body>

</html>